.App {
  text-align: center;
}
 .badge-custom {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: #ff4757; /* Bright color */
  color: white;
  padding: 4px 8px; /* Reduced padding for a smaller size */
  border-radius: 15px; /* Smaller border radius for a more compact oval */
  transform: rotate(10deg); /* Slight rotation for effect */
  font-size: 0.75rem; /* Smaller font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.badge-custom:hover {
  background-color: #e84118; /* Darker color on hover */
  transform: rotate(0deg) scale(1.1); /* Scale up slightly on hover */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
